{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h1>Вход</h1>
  {% if form.errors %}
    <p>Ваши данные для входа не совпали. Пожалуйста, попробуйте еще раз</p>
  {% else %}
    <p>
      Введите данные для входа в систему.
      Если у вас нет аккаунта
      <a href="{% url 'register' %}">Зарегистрируйтесь</a>
    </p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Вход"></p>
    </form>
    <p>
      <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    </p>
  </div>
{% endblock %}